[Unit]
Description=LXPolKit
After=polkit.service

[Service]
Type=simple
ExecStart=/usr/bin/lxpolkit
Restart=always

[Install]
WantedBy=sway-session.target
