[Unit]
Description=sway - SirCmpwn's Wayland window manager
Documentation=man:sway(5)
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Type=simple
EnvironmentFile=-%h/.config/sway/env
Environment=WAYLAND_DISPLAY=""
Environment=_WAYLAND_DISPLAY=""
Environment=WAYLAND_SOCKET=""
Environment=SWAYSOCK=""

ExecStart=/usr/bin/dbus-run-session /usr/local/bin/sway-drm.sh
Restart=always
RestartSec=1
TimeoutStopSec=10

