* {
    font-size: 14px;
    font-family: "Iosevka Term Slab";
}

window#waybar {
    background: #3b4252;
    color: #e5e9f0;
}

#custom-right-arrow-dark, #custom-left-arrow-dark {
    color: #1a1a1a;
}
#custom-right-arrow-light, #custom-left-arrow-light {
    color: #292b2e;
    background: #1a1a1a;
}

#workspaces, #network, #clock, #clock.2, #clock.3, #pulseaudio, #backlight, #memory, #cpu, #temperature, #battery, #tray {
    background: #2e3440;
}

#workspaces button {
    padding: 0 2px;
    color: #d8dee9;
}
#workspaces button.focused {
    color: #A3BE8C;
    /*color: #bf616a;*/
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    background: #1a1a1a;
    border: #1a1a1a;
    padding: 0 3px;
}

#pulseaudio {
    color: #A3BE8C;
}
#backlight {
    color: #EBCB8B;
}
#memory {
    color: #A3BE8C;
}
#temperature {
    color: #D09770;
}
#cpu {
    color: #BF616A;
}
#battery {
    color: #B48EAD;
}

#clock, #pulseaudio, #backlight, #memory, #cpu, #temperature, #battery {
    padding: 0 10px;
}
